body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    font-size: 24px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

label, input[type="radio"] {
    font-family: Arial, sans-serif;
    font-size: 21px;               
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 2px;               
}

input[type = "text"], input[type = "email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.success {
    background-color: green;
    color: white;
    border: 1px solid black;
}

.error {
    background-color: red;
    color: white;
    border: 1px solid black;
}

.accepted {
    border: 1px solid green !important;
}

.rejected {
    border: 1px solid red !important;
}

input:focus {
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}