@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: "Antonio", sans-serif;
    background: #f5f5f5;
}
.bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}
.top-nav {
    background-color: #5a3114;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3; 
}
.top-nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    width: 28.5%; 
    margin: 0;
    padding: 0;
}
.top-nav > ul > li {
    text-align: center;
}
.top-nav > ul > li  a {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: 2px; 
    transition: color 0.3s ease;
}
.top-nav ul li a:hover {
    color: #d1a86d;
}
.top-nav ul li.logo img {
    height: 19vh;
    width: auto;
    display: block;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;      
    margin-top: -420px;  
}
.logo-frame {
    position: relative;
    display: block;
    margin-top: 50px; 
    z-index: 1;
}
.logo-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw; 
    height: auto;
    z-index: 1;
}
.coffee-beans {
    width: 85vw;
    height: auto;
    display: block;
    position: relative;
    top: 8vh;
}
.info-map {
    margin-top: -25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.info-card {
    width: 71.5vw; 
    height: auto;
    display: block;    
}
.map {
    position: absolute;  
    left: 7%;           
    top: 10%;             
    width: 35%;           
    height: 45%; 
    z-index: 2;           
    border-radius: 8px;   
    overflow: hidden; 
}
.map iframe {
    width: 100%;
    height: 100%;
}
.promotional-box {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 2rem;       
}
.promo-card {
    width: 75vw;
    max-width: 75vw;
    height: auto; 
    max-height: auto;
    display: block;
}
.bottom-nav {
    background-color: #5a3114;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 3; 
}
.bottom-nav > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: end;
    width: 90%; 
    margin: 0;
    padding: 0;
}
.bottom-nav > ul > li {
    text-align: center;
}
.bottom-nav .circle {
    background-color: #5a3114; 
    border-radius: 50% / 40%;
    width: 23vw; 
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1vw;
    position: relative;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}
.bottom-nav .circle img {
    width: 90%; 
    height: auto; 
}
.center-logo .circle {
    width: 18vw; 
    height: 14vw;
    border-radius: 50% / 35%;
    margin-top: -5vh;
    z-index: 2;
    padding: 3vw;
}
.center-logo .circle img {
    width: 100%;
    justify-content: center;
    align-items: center; 
}
footer {
    background-color: #5a3114; 
    padding: 1rem ;          
    text-align: center;
}
footer > p {
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 2px; 
    margin: 0.5rem 0;
} 